.w-100 {
  width : 100%;
}

.w-50 {
  width : 50%;
}

.btn {
  border : none;
  border-radius : 5%;
}

.btn-primary {
  background-color: blue;
  color: white;
}

.caret {
  content: "▼";
}

.popup {
  width: 50%;
  height: 30%;
  animation: 2s popup-anim;
  position: absolute;
  border-radius: 5%;
}

@keyframes popup-anim {
  from { opacity: 1; top: 0%; }
  to { opacity: 0; top: 20%; }
}
